<h1 class = "text-info">Vous etes sur la page du potin n°<%= @potin.id %></h1>

<h3>Author du potin: <%= @potin.author %></h3>
<h3>contenue: <%= @potin.content %></h3>

<p>Revenir à la <a href = "<%= root_path %>" class = "btn btn-primary"> page </a>des d'accueil</p>